.todo__list {
  margin: 20px;
  padding: 20px;
  width: 550px;
  list-style: none;
  border: 1px solid #000000;
  border-radius: 5px;
}
.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #cccccc;
}

.todo__item p {
  margin: 0 20px;
  font-size: larger;
  font-weight: 550;
}

.todo__item button {
  margin: 0 20px;
  font-size: larger;
  font-weight: 550;
}