


.Counter_controls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .Counter_controls button {
    padding: 0.5rem 1rem;
    border: 2px solid rgb(24, 27, 207);
    background-color: #fff;
    color: rgb(63, 14, 197);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0 0.5rem;
  }
  
  .Counter_controls button:hover {
    background-color: orange;
    color: #fff;
  }